# General
.DS_Store
.polyglot.build.properties
*.log
*.META-INF_MANIFEST.MF
*.polyglot.*
*.rej
*.takari_issue_192
*.tycho
*~
heapdump.*
Snap.*

# Package Files
*.ear
*.jar
*.nar
*.rar
*.tar.gz
*.war
*.zip

# Eclipse
.loadpath
.metadata
.recommenders
.settings/
.worksheet
*.bak
*.class
*.swp
*.tmp
*~.nib
bin/
javacore.*
local.properties
tmp/

# Maven
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
buildNumber.properties
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
releng/*/workspace/*
target/

# Xtend
*._trace
*.xtendbin
xtend-gen/

# JDT
.java-version
.mtj.tmp/
*.ctxt
*.jdt
hs_err_pid*
replay_pid*

# LaTeX
.*.lb
.pdf
*-blx.aux
*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.cb
*.cb2
*.cls
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.lof
*.lot
*.nav
*.out
*.pdfsync
*.pre
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.toc
*.vrb
logos/banner_*
logos/kitlogo_*
